*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:inherit;
  }

a:hover{
    
}

body{
    background-color: #E7ECAF;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    list-style-type: none;
}

.logo{
    display: flex;
    width: 50%;
}

.navBar{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        justify-items: flex-end;
         
}

.navBar ul li{
        list-style-type: none;
        display: inline;
        justify-items: center;
        padding:10px;
        background: #E7ECAF;
        text-align: center;
        border: 0;
        transition: all 0.3s ease 0s;
        
}

.navBar ul li:hover{
   background: #737555;
    
  }

.navBar ul li a:hover{
    color: inherit;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.float:hover{
    color: white;
}


.tittle{
    display: flex;
    flex-flow: column;
    padding: 10px 100px 10px 100px;
    margin: 10px;
    align-items: center;
}

.foot{
    display: flex;
    padding: 20px;
    font-size: small;
    justify-content: center;
    flex-flow: nowrap;
}

.foot ul {
    display: flex;
    list-style: none;
  }

.foot ul li{
    display: inline;
    padding: 10px;
}

.tittleItem{ 

}

/* Index */

#indexContainer{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-items: center;
}

/* Espacios */

.flexEspacios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Planes */
.tarjeta{
    display: flex;
    height: 20rem;
    justify-content: center;
}



#galery{
/*     display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-self: center;
    row-gap: 10px;
    column-gap: 10px;
    width: 950px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 100px;
    justify-items: center;
    }

.espaciosPic{
    width: 300px;
    height: 300px;
}

/* .espaciosPic:hover{
    width: 500px;
    height: 500px;
} */

/* Media queries */

@media only screen and (max-width: 576px) {
        /* Espacios */
   
    
    #galery{
            display: grid;
            grid-template-columns: auto;
            }
  }
  