* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #E7ECAF;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  list-style-type: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: flex-end;
}

.navBar ul li {
  list-style-type: none;
  display: inline;
  justify-items: center;
  padding: 10px;
  background: #E7ECAF;
  text-align: center;
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navBar ul li:hover {
  background: #737555;
}

.navBar ul li a:hover {
  color: inherit;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.float:hover {
  color: white;
}

.tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 10px 100px 10px 100px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  font-size: small;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
}

.foot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.foot ul li {
  display: inline;
  padding: 10px;
}

/* Index */
#indexContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
  justify-items: center;
}

/* Espacios */
.flexEspacios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Planes */
.tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#galery {
  /*     display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-self: center;
    row-gap: 10px;
    column-gap: 10px;
    width: 950px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 100px;
  justify-items: center;
}

.espaciosPic {
  width: 300px;
  height: 300px;
}

/* .espaciosPic:hover{
    width: 500px;
    height: 500px;
} */
/* Media queries */
@media only screen and (max-width: 576px) {
  /* Espacios */
  #galery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */